	.body div{
		background: #fff;
		box-shadow: 2px 2px 2px #777;
		margin:15px 40px;
		margin-left: 360px;
		padding: 10px 20px;
		display: none;
		word-break: break-all;
		z-index: 7;
	/*	height:400px;
	*/}
	p{z-index: 7}
	.body div[id="page"]{display: block;
		text-align: center;
		background: none;
		box-shadow: none}
	#page input{
		width:40px;
		text-align: center;
		border-radius: 5px 5px ;
		border:0;
		outline: none;
		background:#A5BB9A;
		cursor: pointer;
		padding: 5px 5px;
	}
	#page span{font-size: 0.8em;
		font-weight: 100;
		 }
	#page {display: none;}
	#prev{float: left;}
	#next{float:right;}
	#next,#prev,#go{opacity: 1;background: #A5BB9A;border:0;border-radius: 5px 5px;padding: 5px 10px;outline: none;cursor: pointer;}
	time{position: absolute;
		right:80px;
		margin-top: 10px;
		padding:0 10px;
		}
	tit{font-size: 35px;
		font-weight: 100;
		color:#333;
		opacity: 0.8;
		padding:11px 0;
		padding-left: 20px;
		position: relative;
		right:20px;
		border-left: 5px solid #A5BB9A;}
	article{
		padding-top: 0px;
		margin-top: 20px;
	}
	.document p{
		margin-top: 20px;
		padding: 5px 0;
		font-weight: 100;
	}
	tag{padding: 20px 0;
		color:#8A7BE4;}
	.document a[class="more"]{float: right;
		padding: 5px 10px;
		position: relative;
		bottom:0px;
		right:15px;
		font-size: 0.5em;
		font-weight: 100;
		color:#F9D7D7;
		border-radius: 5px 5px;
		text-decoration: none;
		background: #AB9C9C;
		cursor: pointer;}
	.document a{cursor: pointer;}
	part{background: #AB9C9C;
		padding: 2px 10px;
		font-size: 10px;
		border-radius: 10px 2px;
		color:#eee;
	}
	hr[id="bottom_hr"]{position: relative;
		bottom:40px;}
	.document img{
		width:100%;
		padding:10px 0;
	}
		.document p , .document h1 , .document h2 , .document h3 , .document h4 , .document h5 , .document h6 , .document span , .document i , .document li , .document ul , .document ol , .document tr , .document td 
		{line-height: 30px;
		font-weight: 100;}
	center{font-weight: 100;}
	pre{
		background: #8B6B6B;
		color:#F5E221;
		padding: 10px 0;
		font-size: 1.5em;
		word-break:break-all;
		overflow-x: auto;
	}
	img[src="./images/date.png"]{display: inline;
		width:20px;
		height:20px;
		float:right;
		padding-left: 10px}